
@charset "UTF-8";

*{padding: 0;
    margin: 0;
}

html{
    background-color: rgb(228, 233, 229);
    height: 100%;
}

section{
    text-decoration: none;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    max-width: 900px;
    background: #A5B69F;
    height: 100%;
    border-radius: 3%;
}

header{
    max-width: 900px;
    margin-top: 10px;
    padding: 10px;
    margin: auto;
    border-radius: 3%;
    background-color:#A5B69F ;
    color:#1F3617;
    font: 1.3em 'Arial';
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    margin-bottom: 80px;
}
a{
    text-decoration: none;
}
img{
    width: 300px;
    max-height: 220px;
    border-radius: 2%;
}
.imag{
    margin-top: 13px;
    margin-left: 10px;
}
.itens a{
    display: flex;
    flex-direction: row;
    max-width: 880px;
    gap: 20px;
    padding: 15px;
    transform: scale(.95);
    transition: all .3s;

}
.itens a:hover{
    background-color: #728B69;
    border-radius: 1%;
    transform: scale(1);
    
}

.itens:nth-child(odd){
    text-align: right;
}
.itens:nth-child(even){
    text-align: left;
}

.texto, h2{
    color: black;
    font: 1.5em 'Arial';
    
}
.texto, p{
    color: black;
    font: 1em 'Arial';
    text-align: justify;
    padding-right: 10px;
    line-height: 1.5em;
}

footer{
    text-decoration: none;
    max-width: 900px;
    margin-top: 10px;
    padding: 10px;
    margin: auto;
    border-radius: 5%;
    background-color:#A5B69F ;
    color:#1F3617;
    font: 1em 'Arial';
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;

}
